
.product-selector{
    display:flex;
    margin-right: auto;
    height:100%;
    width:100px;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.product-description{
    margin-left:50px;
    margin-right:10px;
    width:500px;
    min-height: 100px;
    background-color: white;
    font-size:15px;
    border-radius: 10px;
    border-color: gray;

}


.product-div {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius:10px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    text-align: center;
}

.product-div.active {
    font-weight: bold;
    text-decoration: underline;
    border-color: #0056b3;
}
