.product-container{
    width:500px;
    height:300px;
}

.product-selector{
    display:flex;
    margin-right: auto;

    width:100%;
    justify-content:space-around;
    align-content: center;
}

.product-description{

    width:500px;
    min-height: 100px;
    background-color: white;
    font-size:15px;
    border-radius: 10px;
    border-color: gray;

}


.product-div {
    padding: 10px;
    margin: 5px;
    width:30%;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius:10px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    text-align: center;
}

.product-div.active {
    font-weight: bold;
    text-decoration: underline;
    border-color: #0056b3;
}
