body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



#main-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
    min-height: calc(100vh - 150px - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}




.home-container {
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.product-container{
    margin-top: 100px;
    display:flex;
    justify-content: center;
    height:100%;
}







