<!DOCTYPE html>
<html lang="ko">
<head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}내 사이트{% endblock %}</title>
</head>
<body>
    {% include 'header.html' %}

    <main id="main-content">
        {% include 'sidebar.html' %}
        {% block content %}

        {% endblock %}
    </main>


    {% include 'footer.html' %}

</body>
</html>