{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="map-section-wrapper">
    <div class="map-header">
        <h2>찾아 오시는 길</h2>
        <p>저희 회사는 고객 여러분의 방문을 언제나 환영합니다.</p>
    </div>

    <div class="map-container">
        <div id="map"></div>
    </div>

    <div class="address-info">
        <h3>주소 정보</h3>
        <p><strong>주소:</strong> 대한민국 서울특별시 강남구 테헤란로 123 (가상 주소)</p>
        <p><strong>전화:</strong> 02-1234-5678</p>
        <p><strong>이메일:</strong> info@example.com</p>
        <p>대중교통 이용 시, XX역 X번 출구에서 도보 5분 거리에 위치하고 있습니다.</p>
    </div>
</div>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c85c2bcbc847f193c25e3c485ae64d18"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var mapContainer = document.getElementById('map');
        var mapOptions = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };


        var map = new kakao.maps.Map(mapContainer, mapOptions);


        var markerPosition  = new kakao.maps.LatLng(33.450701, 126.570667);


        var marker = new kakao.maps.Marker({
            position: markerPosition
        });


        marker.setMap(map);

        window.addEventListener('resize', function() {
            map.relayout();
            map.setCenter(markerPosition);
        });
)
        map.setCenter(markerPosition);
    });
</script>

{% endblock %}