{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

    <div class="sidebar">

        <div class="normal-bar">
            <div class="burger-bar"></div>
            <div class="burger-bar"></div>
            <div class="burger-bar"></div>
        </div>

        <div class="hidden-bar">
            <a href="/intro">who are we?</a>
            <a href="/product">product</a>
            <a href="/map">maps</a>
            <a href="/notification">notification</a>
        </div>
    </div>

<script src="{% static 'js/sidebar.js' %}"></script>
